[Unit]
Description=Gunicor automation
After=network.target

[Service]
User=upwork
Group=upwork
WorkingDirectory=/home/upwork/app/src/server
Environment="PATH=/home/upwork/app/venv/bin"
EnvironmentFile=/home/upwork/.env
ExecStart=/home/upwork/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target